#AboutUs img{
    max-width: 100%;
    
  }
  
  #AboutUs{
    position: relative;
    background:  linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(184,209,226,1) 31%, rgba(134,174,204,1) 86%);
  }
  
  #AboutUs .overlay{
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
  
  #AboutUs .overlay .container,
  #AboutUs .overlay .row{
    height: 90%;
  }
  
  #AboutUs .overlay .container #lista{
    color: white;
  }



 