<!--SobreNosotros-->
<section id="AboutUs" class="mt-4 mb-4">
  <div class="row">
    <div class="col  text-center text-uppercase">
      <small>Sobre</small>
      <h2>Nosotros</h2>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-0 pl-0 pr-0 pt-4 pb-4">
        <img src="https://imgur.com/sbLa2Og.jpg" alt="Quito 4" />
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3">
        <div
          class="nav flex-column nav-pills"
          id="v-pills-tab"
          role="tablist"
          aria-orientation="vertical"
        >
          <a
            class="nav-link active"
            id="v-pills-mision-tab"
            data-toggle="pill"
            href="#v-pills-mision"
            role="tab"
            aria-controls="v-pills-mision"
            aria-selected="true"
            >Misi&oacute;n</a
          >
          <a
            class="nav-link"
            id="v-pills-vision-tab"
            data-toggle="pill"
            href="#v-pills-vision"
            role="tab"
            aria-controls="v-pills-vision"
            aria-selected="false"
            >Visi&oacute;n</a
          >
          <a
            class="nav-link"
            id="v-pills-valores-tab"
            data-toggle="pill"
            href="#v-pills-valores"
            role="tab"
            aria-controls="v-pills-valores"
            aria-selected="false"
            >Valores Institucionales</a
          >
        </div>
      </div>
      <div class="col-12 col-md-9 text-justify">
        <div class="tab-content" id="v-pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="v-pills-mision"
            role="tabpanel"
            aria-labelledby="v-pills-mision-tab">
            <h1>Misi&oacute;n</h1>
            <p>
              Somos una agencia de viajes ecuatoriana, que brinda un servicio
              distinto, rompiendo los esquemas y el formato tradicional el
              mercado; nos interesamos en las verdaderas necesidades de nuestros
              clientes, ofreciéndoles una experiencia que consideren única,
              logrando manifestar su identidad y estilo de vida en sus viajes
              dentro de Ecuador. En nuestra agencia de viajes comprendemos que
              cada aventura debe experimentarse siempre con entusiasmo y ser
              inolvidable, es por eso que ofrecemos un servicio dinámico e
              innovador, aprovechando la tecnología para satisfacer las
              diferentes necesidades de una manera rápida y renovada.
            </p>
          </div>
          <div
            class="tab-pane fade"
            id="v-pills-vision"
            role="tabpanel"
            aria-labelledby="v-pills-vision-tab">
            <h1>Visi&oacute;n</h1>
            <p>Ser la agencia de viajes líder en el Ecuador, distinguiéndonos por
            la excelente calidad, creatividad e innovación de nuestra oferta de
            servicios, con la responsabilidad de impulsar el desarrollo del
            turismo en el Ecuador.</p>
          </div>
          <div
            class="tab-pane fade"
            id="v-pills-valores"
            role="tabpanel"
            aria-labelledby="v-pills-valores-tab"
          >
            <ul class="list-group">
              <li class="list-group-item">Valores Institucionales</li>
              <li class="list-group-item list-group-item-primary">
                Calidad y excelencia en el servicio
              </li>
              <li class="list-group-item list-group-item-dark">
                Puntualidad
              </li>
              <li class="list-group-item list-group-item-primary">
                Confiabilidad
              </li>
              <li class="list-group-item list-group-item-dark">
                Diversión y trabajo en equipo
              </li>
              <li class="list-group-item list-group-item-primary">
                Honestidad
              </li>
              <li class="list-group-item list-group-item-dark">
                Innovación e inspiración
              </li>
              <li class="list-group-item list-group-item-primary">
                Integridad y respeto
              </li>
              <li class="list-group-item list-group-item-dark">
                Pasión y compromiso
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/SobreNosotros-->
